/* Scrollpic */
:root {
  --total-items: 9; 
  --animation-duration: 30s; 
}


.scorllingPic {
  width: 100%;
  max-width: 1536px;
  position: relative;
  height: 150px; 
  overflow: hidden;


  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0));
}

img{
  width: 100%;
  height: 100%;
}


@keyframes scrollleft {
  to {
    left: -200px; 
  }
}

.item {
  width: 250px; 
  height: 100%; 
  background-color: #161942; 
  border-radius: 6px; 
  position: absolute; 
  overflow: hidden; 


  left: max(calc(250px * var(--total-items)), 100%);


  animation-name: scrollleft; 
  animation-duration: var(--animation-duration); 
  animation-timing-function: linear; 
  animation-iteration-count: infinite; 
}


.item1 {
    border: 10px;
    border-color: #F3E6A2;
    animation-delay: calc(var(--animation-duration) / var(--total-items) * (var(--total-items) - 1) * -1);
}
.item2 {
  animation-delay: calc(var(--animation-duration) / var(--total-items) * (var(--total-items) - 2) * -1);
}
.item3 {
  animation-delay: calc(var(--animation-duration) / var(--total-items) * (var(--total-items) - 3) * -1);
}
.item4 {
  animation-delay: calc(var(--animation-duration) / var(--total-items) * (var(--total-items) - 4) * -1);
}
.item5 {
  animation-delay: calc(var(--animation-duration) / var(--total-items) * (var(--total-items) - 5) * -1);
}
.item6 {
  animation-delay: calc(var(--animation-duration) / var(--total-items) * (var(--total-items) - 6) * -1);
}
.item7 {
  animation-delay: calc(var(--animation-duration) / var(--total-items) * (var(--total-items) - 7) * -1);
}
.item8 {
  animation-delay: calc(var(--animation-duration) / var(--total-items) * (var(--total-items) - 8) * -1);
}
.item9 {
  animation-delay: calc(var(--animation-duration) / var(--total-items) * (var(--total-items) - 9) * -1);
}
/* Scrollpic */