@font-face {
  font-family: 'Kodchasan';
  src: url('/asset/Font/TH Kodchasal Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'K2D';
  src: url('/asset/Font/TH K2D July8.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* background + base */
body{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: #161942;

}
/* tab-bar */
.logo{ margin: 0; }

.logodeptabbar{
  width: 200px;
  height: auto;
}

.topbar{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.indicator{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 80px;
  height: 40px;
  border-radius: 30px;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2,1),width 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform;
}

.tab-container{
  position: relative;
  display: flex;
  width: fit-content;
  margin: 10px 10px 10px auto;
  gap: 25px;
  background-color: #F3E6A2;
  border-radius: 33px;
  padding: 10px 15px;
  z-index: 999;
}

.tab-link{
  font-family: 'Kodchasan', sans-serif;
  position: relative;
  z-index: 1;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #184274;
  padding: 10px 15px ;
  border-radius: 30px;
  transition: all 0.4s ease;
  opacity: 0.6;
}

.tab-link .icon{
  width: 20px;
  height: 20px;
  display: block;
}

.tab-link .label{
  max-width: 0;
  overflow: hidden;
  opacity: 0;
  white-space: nowrap;
  transition: all 0.4s ease, opacity 0.3s ease;
  font-weight: bold;
  margin-left: 0;
}

.tab-link.active{
  color: #184274;
  background-color: #78C0E6;
  opacity: 1;
  animation: pop 0.3s ease;
}

@keyframes pop{
  0%{ transform: scale(0.9); }
  50%{ transform: scale(1.05); }
  100%{ transform: scale(1); }
}

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         

.tab-link:hover{
  transform: translateY(-1px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.tab-link.active .label{
  display: inline-block;
  max-width: 150px;
  opacity: 1;
  margin-left: 10px;
}

.hamburger{
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 6px;
}

.hamburger span{
  width: 40px;
  height: 4px;
  background-color: #F3E6A2;
  border-radius: 5px;
  transition: all 0.4s ease;
}

/* footer */
.footer{
    font-family: 'K2D', sans-serif;
}

.footer-inner{
    display: flex;
    justify-content: space-between; /*left-right*/
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #040518;
    color: #F3E6A2;
    gap: 10px;
    padding: 40px;
}

.footer-logo-img{
    width: 200px;
    height: auto;
    margin: 0;
}


.footer-contact p{
    margin: 6px 0; /*ระยะห่างบรรทัด*/
    line-height: 1.6; /*ค.สูงบรรทัด*/
}

.footer-address p{
    margin: 6px 0; /*ระยะห่างบรรทัด*/
    line-height: 1.6; /*ค.สูงบรรทัด*/
}

.social{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
}

.footer-bottom{
    display: flex;
    color: #040518;
    background-color: #F3E6A2;
    justify-content: center;
    padding: 12px 16px;
    text-align: center;
}

/* =========================
   Admission (components.css)
   ========================= */

/* กัน panel hidden โผล่ */
.admis-panel[hidden]{ display:none; }

/* layout หลัก */
.admission-layout{
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 20px 0;
  box-sizing: border-box;
  font-family: 'K2D',sans-serif;
  display: flex;
  flex-direction: column;
}

/* กล่องรายละเอียดหลักสูตร */
.admission-layout .panel{ padding: 15px; }

.detail-box{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px 10px 15px 50px;
  background:#184274;
}

.head-lebel{ color:#fff; font-size:36px; }
.lebel-admis{ color:#F3E6A2; font-size:24px; }
.value-admis{ color:#fff; font-size:20px; }

.link-admis{
  padding: 20px;
  display:block;
  text-align:center;
  color:#fff;
  background:#161942;
  overflow-wrap:anywhere;
  word-break:break-all;
}

.tabs-admis{

  display: flex;
  align-items: flex-end;
  width: 100%;
  overflow-x: auto;
}

.tab-admis{
  font-family: 'K2D',sans-serif;
  flex: 1;
  height: 47px;
  min-width: 100px;
  padding: 0 10px;
  border-radius: 10px 32px 0 0;
  border: 1px solid rgba(255,255,255,0.2);
  background-color: #184274;
  color: #F3E6A2;
  font-size: 12px;
  font-weight: 100;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-admis[aria-selected="true"]{
  flex: 2;
  height: 64px;
  padding: 0 12px;
  background: #78C0E6;
  color: #161942;
  font-size: 20px;
  border-bottom: none;
  border-radius: 32px 32px 0 0;
}


.admis-container{
  background-color: #78C0E6;
}

.admis-panel{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* พื้นฟ้าด้านล่าง */
.admis-container{
  background:#78C0E6;
  padding:26px 0 44px;
  border-radius: 0 0 30px 30px;
}

/* panel */
.admis-panel{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:20px;
}


/* ===== Cards ===== */
.proj-box{
  width:90%;
  max-width:980px;
  border-radius:16px;
  overflow:hidden;
  border:0;
  box-shadow:0 14px 24px rgba(0,0,0,0.25);
}

.project-header{
  font-family: 'K2D',sans-serif;
  width:100%;
  border:0;
  background:#F3E6A2;
  color:#040518;

  display:flex;
  align-items:center;
  gap:18px;

  padding:20px 25px;
  font-size:24px;
  font-weight:550;
  text-align:left;
  cursor:pointer;
}

/* icon rotate */
.project-header .proj-notop-icon{
  width:25px;
  height:auto;
  flex:0 0 auto;
  display:block;
  transition:transform 0.2s ease;
  transform:rotate(0deg);
}
.project-header[aria-expanded="true"] .proj-notop-icon{
  transform:rotate(180deg);
}

.project-content{
  background:#fff;
  padding:22px 28px 28px;
  line-height:1.7;
}

@media (max-width: 768px){
  .indicator{ display: none; }

  .hamburger{
    display: flex;
  }

  .hamburger span{
    background-color: #F3E6A2;
  }

  .topbar{
    position: relative;
    z-index: 3000;
  }

    #menu{
    position: absolute; /*อยู่ตามสั่ง top right บลาๆ*/
    top: 65px;
    right: 0;
    width: 150px;

    display: flex;
    flex-direction: column;
    gap: 14px;

    padding: 20px;
    border-radius: 20px;

    transition: transform .35s ease, opacity .35s ease;
  }

  #menu .tab-link{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #184274;
    font: 16px;
    background: transparent;
    opacity: 1;
    width: 125px;
    justify-content: flex-start;
  }
  
  #menu .tab-link .label{
    display: inline !important;
    color: inherit !important;
    opacity: 1 !important;
    visibility: visible !important;
    font-size: 16px !important;
    line-height: 1.3 !important;
    max-width: none !important;
    overflow: visible !important;
    opacity: 1 !important;
    margin-left: 0 !important;
  }

    #menu .tab-link.active{
    width: 125px;
    color: #184274;
    background-color: #78C0E6;
    opacity: 1;
    animation: pop 0.3s ease;
  }

    .tab-container{
    position: absolute;
    top: 65px;
    height: fit-content;
    width: 150px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    color: #184274;
    background-color: #F3E6A2;
    padding: 20px;
    border-radius: 20px;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateX(120%);
    transition: transform 0.35s ease;
  }


  .tab-container.active{
    transform: translateX(0);
    right: 0px;
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}
